@charset "UTF-8";

body {
    background: #f3f3f3;
    padding-top: 70px;
}

nav {
    background: #64C99B;
    margin: 0 0 10px 0;
    width: 100%;
    height: 40px;
}

select {
    width: 100px;
    height: 25px;
    margin: 0;
    padding: 0;
}

#content {
    width: 380px;
    margin: 0 auto;
}

#controls {
    padding: 0 40px;
}


#fruits {
    padding: 10px 20px;
    line-height: 1.4em;
}
